<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Approved Courses</title>
</head>
<body>
    <div>
        <a th:href="@{/user/logout}" style="float: right; color: red; text-decoration: none;">Logout</a>
    </div>
    <h1>Approved Courses</h1>
    <a th:href="@{/admin/dashboard}"><button>Back to Dashboard</button></a>
    <table border="1">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Faculty</th>
                <th>Seats</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="course : ${courses}">
                <td th:text="${course.name}"></td>
                <td th:text="${course.faculty.user.fullName}"></td>
                <td th:text="${course.maxSeats}"></td>
                <td th:text="${course.description}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
