<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Password</title>
</head>
<body>
	
    <h1>Update Password</h1>
	<!-- Logout Button -->
	        <div class="text-end">
	            <a class="btn btn-secondary" th:href="@{/logout}">Logout</a>
	        </div>
    <form th:action="@{/user/update-password}" method="post">
        <label for="oldPassword">Old Password:</label>
        <input type="password" id="oldPassword" name="oldPassword" required>

        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>

        <button type="submit">Update Password</button>
    </form>

    <div th:if="${error}" th:text="${error}" style="color: red;"></div>
    <div th:if="${message}" th:text="${message}" style="color: green;"></div>
</body>
</html>
